version: '3.8'
services:
  discord-bot:
    build: .
    container_name: my-discord-bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./leaderboard.jpg:/app/leaderboard.jpg # Supaya gambar background terbaca